
DATABASE_URL=postgresql://postgres.zedvfnmrqbiarjiqdprg:Ryoryo150227@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres



SUPABASE_URL=https://zedvfnmrqbiarjiqdprg.supabase.co
SUPABASE_ANON_KEY=sb_publishable_5dZGGmBll3v6pfbOziQgkg_UQeHzEkd